* {
  margin: 0;
  padding: 0; }

body {
  background-image: url(../assets/NBAbubblefeatured.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

.h1-h2, .logros h1, .logros .internacionales h2, .logros .titulos-nba h2, .logros .logros-personales h2 {
  border-bottom: 2px solid #f2d64b; }

.h3, .logros .internacionales h3, .logros .titulos-nba h3, .logros .logros-personales h3, .stats section article h2 {
  border-left: 2px solid #f2d64b; }

.borde-violeta, .stats section article h3 {
  border-left: 3px solid #250272; }

.fondo-nav {
  background-color: rgba(46, 21, 63, 0.9); }
  .fondo-nav nav a .logo-nav {
    width: 100px; }
  .fondo-nav nav div ul li .boton {
    border: 2px solid #3c66e3;
    border-radius: 15px; }
    .fondo-nav nav div ul li .boton:hover {
      animation: pulsate 1s ease-in-out; }

@keyframes pulsate {
  0% {
    box-shadow: 0 0 10px #5ddcff, 0 0 15px #4e00c2; } }

section {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 5%; }
  section h1 {
    border-bottom: 2px solid #f2d64b; }
  section div figure .lebron-james {
    width: 22.5rem;
    display: block;
    margin: auto; }
  section div .centrado {
    padding-top: 10%; }
    section div .centrado h2 {
      border-bottom: 2px solid #f2d64b;
      padding-bottom: 2px; }
    section div .centrado .info-personal h3 {
      border-left: 2px solid #f2d64b;
      padding-left: 2px; }

@media screen and (max-width: 768px) {
  section div figure .lebron-james {
    width: 300px;
    display: block;
    margin: auto; } }

@media screen and (max-width: 580px) {
  section div figure .lebron-james {
    width: 225px;
    display: block;
    margin: auto; } }

@media screen and (max-width: 410px) {
  section div figure .lebron-james {
    width: 150px;
    display: block;
    margin: auto; } }

main .trayectoria {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas: "titulo titulo" "imagen equipoa" "imagen equipob" "imagen equipoc"; }
  main .trayectoria .titulo {
    grid-area: titulo;
    text-align: center; }
  main .trayectoria .lebron-rookie {
    grid-area: imagen; }
  main .trayectoria .cleveland {
    grid-area: equipoa;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #f2d64b; }
    main .trayectoria .cleveland .logo-equipo {
      width: 100px; }
  main .trayectoria .heat {
    grid-area: equipob;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #f2d64b; }
    main .trayectoria .heat .logo-equipo {
      width: 100px; }
  main .trayectoria .lakers {
    grid-area: equipoc;
    display: flex;
    flex-direction: column;
    border-bottom: none; }
    main .trayectoria .lakers .logo-equipo {
      width: 100px; }

@media screen and (max-width: 1000px) {
  main .trayectoria {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "titulo" "imagen" "equipoa" "equipob" "equipoc"; }
    main .trayectoria .titulo {
      grid-area: titulo;
      text-align: center; }
    main .trayectoria .lebron-cavs-rookie {
      width: 150px;
      display: block;
      margin: auto; }
    main .trayectoria .lebron-rookie {
      grid-area: imagen; }
    main .trayectoria .cleveland {
      grid-area: equipoa;
      display: flex;
      flex-direction: column;
      text-align: center;
      border-top: 2px solid #f2d64b; }
      main .trayectoria .cleveland img {
        display: block;
        margin: auto; }
    main .trayectoria .heat {
      grid-area: equipob;
      display: flex;
      flex-direction: column;
      text-align: center; }
      main .trayectoria .heat img {
        display: block;
        margin: auto; }
    main .trayectoria .lakers {
      grid-area: equipoc;
      display: flex;
      flex-direction: column;
      text-align: center; }
      main .trayectoria .lakers img {
        display: block;
        margin: auto; } }

@media screen and (max-width: 350px) {
  main section figure .lebron-cavs-rookie {
    width: 100px !important;
    display: block;
    margin: auto; } }

.h1-h2, .logros h1, .logros .internacionales h2, .logros .titulos-nba h2, .logros .logros-personales h2 {
  border-bottom: 2px solid #f2d64b; }

.h3, .logros .internacionales h3, .logros .titulos-nba h3, .logros .logros-personales h3, .stats section article h2 {
  border-left: 2px solid #f2d64b; }

.borde-violeta, .stats section article h3 {
  border-left: 3px solid #250272; }

.logros .internacionales {
  border-top: 2px solid #f2d64b; }
  .logros .internacionales h3 {
    margin-left: 5%; }

.logros .titulos-nba {
  border-top: 2px solid #f2d64b; }
  .logros .titulos-nba h3 {
    margin-left: 5%; }

.logros .logros-personales {
  border-top: 2px solid #f2d64b; }
  .logros .logros-personales h3 {
    margin-left: 5%; }

@media screen and (max-width: 500px) {
  .logros h1 {
    font-size: larger; }
  .logros article h2 {
    font-size: larger !important; }
  .logros article h3 {
    font-size: medium !important; } }

.h1-h2, .logros h1, .logros .internacionales h2, .logros .titulos-nba h2, .logros .logros-personales h2 {
  border-bottom: 2px solid #f2d64b; }

.h3, .logros .internacionales h3, .logros .titulos-nba h3, .logros .logros-personales h3, .stats section article h2 {
  border-left: 2px solid #f2d64b; }

.borde-violeta, .stats section article h3 {
  border-left: 3px solid #250272; }

.stats section {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas: "titulo titulo" "imagen1 estadisticas" "video estadisticas"; }
  .stats section h1 {
    grid-area: titulo;
    border-bottom: 2px solid #f2d64b; }
  .stats section figure {
    grid-area: imagen1; }
    .stats section figure img {
      display: block;
      margin: auto; }
  .stats section article {
    grid-area: estadisticas;
    padding-right: 5%; }
  .stats section video {
    grid-area: video;
    width: 80%;
    border-radius: 50px; }

.h1-h2, .logros h1, .logros .internacionales h2, .logros .titulos-nba h2, .logros .logros-personales h2 {
  border-bottom: 2px solid #f2d64b; }

.h3, .logros .internacionales h3, .logros .titulos-nba h3, .logros .logros-personales h3, .stats section article h2 {
  border-left: 2px solid #f2d64b; }

.borde-violeta, .stats section article h3 {
  border-left: 3px solid #250272; }

@media screen and (max-width: 768px) {
  .stats section {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "titulo" "imagen1" "estadisticas" "video"; }
    .stats section h1 {
      grid-area: titulo;
      border-bottom: 2px solid #f2d64b; }
    .stats section figure {
      grid-area: imagen1; }
      .stats section figure img {
        display: block;
        margin: auto; }
    .stats section article {
      grid-area: estadisticas;
      padding-right: 5%; }
    .stats section video {
      grid-area: video;
      width: 80%;
      border-radius: 50px; } }

.contact {
  background-color: rgba(0, 0, 0, 0.75); }
  .contact .nombre label {
    border-bottom: 2px solid #f2d64b; }
  .contact .correo label {
    border-bottom: 2px solid #f2d64b; }
  .contact .coment label {
    border-bottom: 2px solid #f2d64b; }

footer {
  background-color: rgba(46, 21, 63, 0.9); }
  footer div a .logo-nav {
    width: 100px; }
