* {
  margin: 0;
  padding: 0; }

body {
  background-image: url(../assets/NBAbubblefeatured.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

.h1-h2, .logros h1, .logros .internacionales h2, .logros .titulos-nba h2, .logros .logros-personales h2 {
  border-bottom: 2px solid #f2d64b; }

.h3, .logros .internacionales h3, .logros .titulos-nba h3, .logros .logros-personales h3, .stats section article h2 {
  border-left: 2px solid #f2d64b; }

.borde-violeta, .stats section article h3 {
  border-left: 3px solid #250272; }

.fondo-nav {
  background-color: rgba(46, 21, 63, 0.9); }
  .fondo-nav nav a .logo-nav {
    width: 100px; }
  .fondo-nav nav div ul li .boton {
    border: 2px solid #3c66e3;
    border-radius: 15px; }
    .fondo-nav nav div ul li .boton:hover {
      animation: pulsate 1s ease-in-out; }

@keyframes pulsate {
  0% {
    box-shadow: 0 0 10px #5ddcff, 0 0 15px #4e00c2; } }

section {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 5%; }
  section h1 {
    border-bottom: 2px solid #f2d64b; }
  section div figure .lebron-james {
    width: 22.5rem; }
  section div .centrado {
    padding-top: 10%; }
    section div .centrado h2 {
      border-bottom: 2px solid #f2d64b;
      padding-bottom: 2px; }
    section div .centrado .info-personal h3 {
      border-left: 2px solid #f2d64b;
      padding-left: 2px; }

main .trayectoria {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas: "titulo titulo" "imagen equipoa" "imagen equipob" "imagen equipoc"; }
  main .trayectoria .titulo {
    grid-area: titulo;
    text-align: center; }
  main .trayectoria .lebron-rookie {
    grid-area: imagen; }
  main .trayectoria .cleveland {
    grid-area: equipoa;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #f2d64b; }
    main .trayectoria .cleveland .logo-equipo {
      width: 100px; }
  main .trayectoria .heat {
    grid-area: equipob;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #f2d64b; }
    main .trayectoria .heat .logo-equipo {
      width: 100px; }
  main .trayectoria .lakers {
    grid-area: equipoc;
    display: flex;
    flex-direction: column;
    border-bottom: none; }
    main .trayectoria .lakers .logo-equipo {
      width: 100px; }

.h1-h2, .logros h1, .logros .internacionales h2, .logros .titulos-nba h2, .logros .logros-personales h2 {
  border-bottom: 2px solid #f2d64b; }

.h3, .logros .internacionales h3, .logros .titulos-nba h3, .logros .logros-personales h3, .stats section article h2 {
  border-left: 2px solid #f2d64b; }

.borde-violeta, .stats section article h3 {
  border-left: 3px solid #250272; }

.logros .internacionales {
  border-top: 2px solid #f2d64b; }
  .logros .internacionales h3 {
    margin-left: 5%; }

.logros .titulos-nba {
  border-top: 2px solid #f2d64b; }
  .logros .titulos-nba h3 {
    margin-left: 5%; }

.logros .logros-personales {
  border-top: 2px solid #f2d64b; }
  .logros .logros-personales h3 {
    margin-left: 5%; }

.h1-h2, .logros h1, .logros .internacionales h2, .logros .titulos-nba h2, .logros .logros-personales h2 {
  border-bottom: 2px solid #f2d64b; }

.h3, .logros .internacionales h3, .logros .titulos-nba h3, .logros .logros-personales h3, .stats section article h2 {
  border-left: 2px solid #f2d64b; }

.borde-violeta, .stats section article h3 {
  border-left: 3px solid #250272; }

.stats section {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas: "titulo titulo" "imagen1 estadisticas" "video estadisticas"; }
  .stats section h1 {
    grid-area: titulo;
    border-bottom: 2px solid #f2d64b; }
  .stats section figure {
    grid-area: imagen1; }
    .stats section figure img {
      display: block; }
  .stats section article {
    grid-area: estadisticas;
    padding-right: 5%; }
  .stats section video {
    grid-area: video;
    width: 80%;
    border-radius: 50px; }

footer {
  background-color: rgba(46, 21, 63, 0.9); }
  footer div a .logo-nav {
    width: 100px; }
