@import "../variables/variables";

.contact{
    background-color: $fondo-section;
    .nombre{
        label{
            border-bottom: $color-borders;
        }
    }
    .correo{
        label{
            border-bottom: $color-borders;
        }
    }
    .coment{
        label{
            border-bottom: $color-borders;
        }
    }
}