@import "../variables/variables";

@media screen and (max-width: 768px ){
    section{
        div{
            figure{
                .lebron-james{
                    width: 300px;
                    display: block;
                    margin: auto;
                }
            }
        }
    }
}
@media screen and (max-width: 580px ){
    section{
        div{
            figure{
                .lebron-james{
                    width: 225px;
                    display: block;
                    margin: auto;
                }
            }
        }
    }
}
@media screen and (max-width: 410px ){
    section{
        div{
            figure{
                .lebron-james{
                    width: 150px;
                    display: block;
                    margin: auto;
                }
            }
        }
    }
}