@import "../variables/variables";

@media screen and (max-width: 768px ){
    section{
        div{
            figure{
                .lebron-james{
                    width: 300px;
                    display: block;
                    margin: auto;
                }
            }
        }
    }
}

@media screen and (max-width: 480px ){
    section{
        div{
            figure{
                .lebron-james{
                    width: 150px;
                    display: block;
                    margin: auto;
                }
            }
        }
    }
}