@import "../variables/variables";
@import "../sass2/mixins";
main{
    .trayectoria{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        grid-template-areas: "titulo titulo"
                            "imagen equipoa"
                            "imagen equipob"
                            "imagen equipoc";
                            .titulo{
                                grid-area: titulo;
                                text-align: center;
                            }
                            .lebron-rookie{
                                grid-area: imagen;
                                img{
                                    width: 200px;
                                }
                            }
                            .cleveland{
                                @include equipos (equipoa);
                                .logo-equipo{
                                    width: 100px;
                                }
                            }
                            .heat{
                                @include equipos (equipob);
                                .logo-equipo{
                                    width: 100px;
                                }
                            }
                            .lakers{
                                @include equipos (equipoc, $bordes: none);
                                .logo-equipo{
                                    width: 100px;
                                }
                            } 
    }
}
@import "./trayectoriaMedia";